In [1]:
# imports
import pandas as pd
pd.set_option('display.max_columns',100)
# Saving the filepath and assigning dataframe as df
fpath = 'Data/sales_predictions_2023.csv'
df = pd.read_csv(fpath)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [2]:
df=df.drop(columns = ["Item_Identifier","Outlet_Identifier","Outlet_Establishment_Year"], axis=1)
df.head(3)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700

In [3]:
# Correcting inconsistencies in Item_Fat_Content
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [4]:
df["Item_Fat_Content"] = df['Item_Fat_Content'].str.replace('LF', 'Low Fat').str.replace('low fat', 'Low Fat').str.replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [5]:
# Saving dataset
df.to_csv("Data/sales_prepped.csv", index=False)

In [ ]:
# Storing .py code

# Title
st.title("Grocery Sales Investigation")

# Dataset
df = pd.read_csv("Data/sales_prepped.csv")

# Display an interactive dataframe
st.header("Item Sales Dataframe")
st.dataframe(df, width=800)

# Display descriptive statistics
st.markdown('#### Descriptive Statistics')
if st.button("Show Descriptive Statistics"):
    st.dataframe(df.describe().round(2))

st.markdown('#### Summary Info')
if st.button("Show Summary Info"):
    # Capture .info()
    # Create a string buffer to capture the content
    buffer = StringIO()
    # Write the info into the buffer
    df.info(buf=buffer)
    # Retrieve the content from the buffer
    summary_info = buffer.getvalue()
    # Use Streamlit to display the info
    st.text(summary_info)

st.markdown('#### Null Values')
if st.button("Show Null Values"):
    nulls = df.isna().sum()
    st.dataframe(nulls)
    # Making string buffer to capture content
    buffer = StringIO()
    # Write nulls into the buffer
    df.isna().sum().to_string(buffer)